.navbar
  background-color $primaryColor
  margin auto
  width 60%
  height 120px
  .logo
    width 65%
    display inline-block
    color $lightTextColor
    margin-right 50px
    .logo-title
       display inline-block
       min-height 109px
       padding-left 108px
       background-image url("../../logo.png")
       background-repeat no-repeat
       padding-top 40px
       font-size 2.0rem
       font-weight bold
  .nav-links
    display inline


@media screen and (max-width: 767px)
  .navbar
    display inline-block
    width 100%
    height 80px
    .logo
      width auto
      display inline-block
      padding-top 13px
      margin-right 0
      .logo-title
        display block
        min-height 54px
        padding-left 108px
        background-image url("../../logo-mobile.png")
        background-repeat no-repeat
        font-size 2.0rem
        span
          display none
    .nav-links
      float right
      padding-top 22px

