<navbar>
</navbar>
<section id="sectionHome">
  <div class="container">
    <h1>Lorem Ipsum</h1>
    <div class="carousel-outer">
      <uib-carousel active="active" interval="vm.interval" class="carousel container" no-wrap="false">
        <uib-slide class="carousel-slide" style="background-image: url({{slide.src}})"
                   ng-repeat="slide in vm.slides track by slide.id"
                   index="slide.id">
          <div class="carousel-caption">
            <h3>{{slide.title}}</h3>
          </div>
        </uib-slide>
      </uib-carousel>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vulputate orci sit amet dui ullamcorper vulputate. Ut at leo eleifend, imperdiet tellus ac, dictum odio. Mauris sagittis tincidunt metus ac cursus. Sed efficitur semper risus, eu malesuada ante elementum et. Curabitur egestas ultrices maximus. Nulla fermentum sem id dolor volutpat, eget tempor neque semper. Nam aliquam neque at mattis consectetur.</p>

    <p>Cras molestie tincidunt magna, vel rhoncus felis. Sed convallis eros dui. In vel metus est. Praesent maximus magna et metus aliquam pharetra. Proin id est eu metus luctus aliquet. Donec tincidunt maximus urna, at accumsan magna consectetur ut. Morbi eu malesuada libero. Morbi feugiat nunc arcu, nec cursus felis malesuada et.</p>

    <p>Aenean eu ex tellus. Proin ut dui quis nulla tristique ultricies. Morbi faucibus, turpis posuere malesuada porttitor, tellus neque finibus felis, eu dictum mauris risus eu nisl. Pellentesque tempor ultricies leo ac venenatis. Mauris sagittis dignissim urna vitae sodales. Vestibulum facilisis lorem et augue mattis, id interdum ante tempus. Nulla justo sem, tincidunt eu libero non, dictum sollicitudin augue. Integer eu turpis vel nulla gravida consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec est lectus, aliquam ullamcorper pretium quis, auctor in mi. Quisque efficitur fermentum nunc in aliquet. Vivamus facilisis pulvinar orci non consequat. Vestibulum accumsan tincidunt nulla ut varius. Ut rhoncus aliquam eleifend. Duis et neque lectus.</p>

    <p>Nam quis tempor sapien. Vestibulum ac diam ac lorem auctor bibendum non sit amet ligula. Duis a nisl sit amet massa imperdiet venenatis. Sed tincidunt eget tortor fringilla volutpat. Ut eget libero id sem finibus eleifend vitae sit amet sapien. Morbi placerat euismod nisi, nec porta dui bibendum eu. Ut vestibulum, felis tempor blandit iaculis, erat turpis vulputate eros, eget sagittis neque tortor eu quam. Quisque molestie sapien quis urna bibendum, quis ullamcorper erat efficitur.</p>

    <p>Maecenas at quam ornare nibh gravida eleifend vel nec arcu. Morbi condimentum rhoncus volutpat. Ut id feugiat metus, vel varius lorem. Ut porttitor turpis molestie, aliquam mi eu, posuere massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque sit amet nisl nisl. Aenean at lobortis nulla. Morbi erat odio, vulputate et enim nec, blandit lobortis mi. Pellentesque ex nisi, dignissim nec velit nec, gravida dignissim nulla. Maecenas tincidunt viverra efficitur. Nunc facilisis tortor at blandit tincidunt. Nunc feugiat sem id nulla auctor tincidunt. Nunc eu dui a turpis ullamcorper rhoncus. Etiam quis sapien sodales, faucibus orci eget, molestie orci. Morbi mattis vel diam ut rhoncus.</p>

  </div>
</section>
