@import '../../common/common.styl'
  
.carousel-outer
  background-color $bgColor
  .carousel
    width 850px
    height 360px
  
    .carousel-slide img
      width 640px
      height 360px
                
