@import '../../common/common.styl'
  
.carousel-outer
  background-color $bgColor
  .carousel
    .carousel-slide
      height 0
      position relative
      padding-bottom 45%
      background-size cover
      background-position 50% 50%
      background-repeat no-repeat
      img
        margin auto
